* {
  box-sizing: border-box; }

.container {
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .container {
      width: 100%;
      height: 100vh;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto; } }

.content::after {
  clear: both;
  content: "";
  display: block; }

.left-column {
  width: calc(40% - 56px);
  float: left;
  margin-left: 40px; }

.right-column {
  width: calc(60% - 64px);
  float: left;
  margin-left: 40px; }

.header-img {
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 2000px #000000; }

.fixed-header {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: #001433;
  color: #fff;
  opacity: .8; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .fixed-header {
      max-width: 768px; } }

.link {
  width: 10%;
  text-align: center; }
  .link:hover {
    background-color: #4DFF00;
    color: #245998;
    cursor: pointer; }

.view_port {
  background-color: black;
  height: 25px;
  width: 100%;
  overflow: hidden; }

.polling_message {
  color: white;
  float: left;
  margin-right: 2%; }

.cylon_eye {
  background-color: #4DFF00;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 75%);
  color: white;
  height: 100%;
  width: 20%;
  animation: 4s linear 0s infinite alternate move_eye; }

@keyframes move_eye {
  from {
    margin-left: -20%; }
  to {
    margin-left: 100%; } }
body {
  width: 100%; }

.card {
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid #4DFF00; }

.card-title {
  font-size: 20px; }

.left-column {
  margin-top: 5px; }

.left-column h1 {
  text-align: center; }

.right-column {
  display: flex;
  flex-direction: column; }

.row {
  margin: 5px;
  padding: 10px;
  color: #A5ACAF;
  text-shadow: 1px 1px #4DFF00; }

.title {
  text-align: center;
  border-bottom: 1px solid #4DFF00;
  margin-top: 2px;
  padding-top: 0px;
  color: #A5ACAF;
  text-shadow: 1px 1px #4DFF00; }

.title2 {
  font-size: 30px;
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .title2 {
      font-size: 20px; } }

.date {
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.teams {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.team {
  display: flex; }

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.vs {
  font-size: 20px;
  color: white;
  text-shadow: none; }

.team-logo {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 15px; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .team-logo {
      height: 65px;
      width: 65px; } }

.city {
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.team-name {
  font-size: 20px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .team-name {
      font-size: 15px; } }

.team-score {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: bold; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .team-score {
      font-size: 30px; } }

.score {
  border: 1px solid #4DFF00;
  padding: 5px;
  margin: 5px; }

body {
  background-image: url(../img/background-one.jpg);
  background-size: auto,auto; }

.header-img {
  display: flex;
  align-items: center; }

#header-img {
  width: 1100px;
  height: 100%;
  position: fixed;
  z-index: -1; }
  @media (min-width: 768px) and (max-width: 1099px) {
    #header-img {
      max-width: 768px;
      height: 70%; } }

.card-img {
  width: 100%; }

.logo {
  width: 100%; }

.left-column {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); }

.right-column {
  color: white; }

.row {
  background: rgba(0, 20, 51, 0.8); }

.card {
  margin: 5px;
  padding: 10px; }

/*# sourceMappingURL=master.css.map */
