.container {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.content {
  @include grid-container;
}

.left-column {
  @include grid-column(4, $custom-grid-first);
}

.right-column {
  @include grid-column(6, $custom-grid-first);
}
