.left-column {
  // color: $action_green-color;
  color: white;
  background-color: rgba(0, 0, 0, .5);
}

.right-column {
  // background-color: black;
  color: white;
}

.row{
  background: rgba(0, 20, 51, .8);
  // background-color: black;
}
.footer {
  background-color: $college_navy-color;
}

.card {
  border: 1px solid green;
  margin: 5px;
  padding: 10px;
}
