.left-column {
  background-color: black;
  color: white;
}

.right-column {
  // background-color: black;
  color: white;
}

.row{
  background-color: black;
}
.footer {
  background-color: black;
}

.card {
  border: 1px solid green;
  margin: 5px;
  padding: 10px;
}
