body {
  width: 100%;
}

.card {
  margin: 5px;
  padding: 10px;
}

.card-title {
  font-size: 20px;
}

.left-column h1 {
  text-align: center;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 5px;
  padding: 10px;
}

.title {
  color: $action_green-color;
}

#date {

}

.teams {
  display: flex;
  justify-content: space-between;
}

.team {
  display: flex;
}

.team-logo {
  height: 100px;
  width: 100px;
}

.team-score {
  display: flex;
  justify-content: space-around;
}
