$college_navy-color: #001433;
$action_green-color: #4DFF00;
$wolf_gray-color: #A5ACAF;
$seahawks_blue-color: #245998;

$custom-grid-first: (
  columns: 10,
  gutter: 40px,
);

$tablet: "(min-width: 768px) and (max-width: 1099px)";
$desktop: "(min-width: 1100px)";
